//General styles

* {
	font-weight: 500;
}


//Body styles
.jumbotron {
	font-weight: 700;
}

.gradient {
  background-image:
    linear-gradient(
      to left,
      gray, #f06d09
    );
}

//Handlebars styles
#currentWeatherView {
	border: 3px black solid;
	margin-bottom: 20px;
}

.savedWeatherDiv {
	border: 3px black solid;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
}

.forecastDiv {
	border: 3px black solid;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
}

html {
	background: url('http://p1.pichost.me/i/63/1874114.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.mdi-action-perm-media {
	padding-right: 4px;
}